.sidebar-div {
  width: 250px;
  height: 100%;
  top: 0;
  left: -400px;
  overflow: hidden;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 10px grey;
  position: absolute;
  z-index: 11;
  opacity: 0;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
.sidebar-div-open {
  opacity: 1;
  left: 0;
}
.sidebar-toggle {
  position: absolute;
  color: rgb(245, 237, 237);
  font-size: 25px;
  z-index: 12;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 20px;
  content: url("./../../Assets/icons8-horizontal-separated-bars-representing-hamburger-menu-layout-32.png");
}
