@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
.centercontent-div {
  width: 100%;
  height: 120px;
  background-color: #f7f7f7;
  /* position: relative; */
}
.row-header-col {
  justify-content: left;
  display: flex;
}
.centercontent-div-h1 {
  z-index: 2;
  /* position: relative; */
  top: 200px;
  color: #53565a;
  /* font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans Thai Looped", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* margin-top: -207px; */
  font-size: 25px;
  color: #53565a;
  font-weight: 600;
}
.centercontent-div-h3 {
  z-index: 2;
  /* position: relative; */
  top: 195px;
  text-align: left;
  color: rgb(8, 8, 8);
  font-size: 15px;
  color: #53565a;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.centercontent-div-h1-profileImg {
  content: url("./../../../Assets/profile.jfif");
  width: 120px !important;
  height: 120px;
  border-radius: 55px;
  padding: 10px;
  padding-top: 5px;
  /* margin-left: -900px; */
  z-index: 2;
  /* position: relative; */
  top: 90px;

  color: antiquewhite;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.centercontent-div-img {
  width: 100%;
  height: 250px;
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 600px) {
  .centercontent-div-h1 {
    /* padding: 10px; */

    /* font-family: "Ubuntu", sans-serif; */
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
  }
  .centercontent-div-img {
    width: 100%;
    height: 380px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
  }
}
.row-header {
  background-color: #ffffff;
  margin: 10px !important;
  box-shadow: 2px 2px 5px grey;
}
.row-header:hover {
  box-shadow: 4px 4px 10px grey;
}
.Header-top {
  height: 50px;
  width: 100%;
  background-color: #060a2f;
}
.row-header-bottom {
  margin: 10px !important;
  /* background-color: #ffffff; */
}
.centercontent-div-div {
  z-index: 2;
  /* position: relative; */
  top: 295px;
  display: flex;
  justify-content: left;
  /* margin-top: -100px; */
}
.centercontent-div-div2 {
  z-index: 2;
  /* margin-top: 310px; */
  display: flex;
  /* height: 350px; */
  background-color: #f7f7f7;
  /* justify-content: center; */
}
.centercontent-div-div22 {
  z-index: 2;
  /* margin-top: 310px; */
  display: flex;
  /* height: 350px; */
  padding-bottom: 20px;
  background-color: rgb(218, 216, 233);
  /* justify-content: center; */
}
.container-style {
}
.speech-icon {
  content: url("./../../../Assets/speak-img.png");
  height: 25px;
  width: 50px;
  padding-right: 8px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.col-style {
  margin-right: 5px;
  margin-top: 2px !important;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px grey;
  transition: transform 350ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.centercontent-div-div2-p {
  text-align: justify;
  padding: 5px;
  color: #53565a;
}
.skill-list {
  text-align: left;
  padding-left: 30px;
  color: #53565a;
}
.centercontent-div-div-button {
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 3px;
  text-decoration: none;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-shadow: none;
  margin-left: 5px;
  margin-top: -2px;
  color: rgb(8, 8, 8);
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 600;
  transition: transform 350ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.bio-header {
  display: grid;
  justify-content: flex-start;
  /* margin-left: -7%; */
  padding: 5px;
}
.centercontent-div-div2-h1 {
  padding: 10px;
  padding-left: 5px;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-align: left;
  color: #53565a;
}
.col-style:hover {
  border-radius: 0.12em;
  /* transform: translateY(-8px); */
  box-shadow: 10px 10px 20px grey;
}
.ul-list {
  padding-left: 5px;
}
.centercontent-div-div2-h11 {
  padding: 10px;
  padding-left: 5px;
  align-items: flex-start;
  color: #53565a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  text-align: left;
}
.centercontent-div-div-button:hover {
  background-color: bisque;
  font-weight: 600;
  text-decoration: none;
  padding: 3px;
  padding-left: 5px;

  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  transform: translateY(-5px);
  margin-left: 5px;
  margin-top: -2px;
  color: #eb700c;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
@media only screen and (max-width: 600px) {
  /* .centercontent-div-h1-profileImg {
    content: url("./../../../Assets/profile.jfif");
    width: 120px;
    height: 120px;
    border-radius: 55px;
    padding: 2px;
    padding-top: 3px;
    margin-left: -600px;
    z-index: 2;
    position: relative;
    top: 5;

    margin-left: 30%;
    margin-right: 25%;
    color: antiquewhite;
    
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
  } */
  .centercontent-div-div-button {
    background-color: #007fb1;
    background-repeat: no-repeat;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: -2px;
    color: #f8f4f4;
    /* font-family: "IBM Plex Sans Thai Looped", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji" !important;
    font-weight: 500;
    transition: transform 250ms;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .container-style {
    margin-top: 10%;
  }
}
.linked-in {
  content: url("./../../../Assets/icon_linkedin.png");
  height: 22px;
  width: 22px;
  padding: 1px;
  cursor: pointer;
}
.github {
  padding: 1px;
  content: url("./../../../Assets/icon_github.png");
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.download-CV {
  content: url("./../../../Assets/arrow-down-circle.svg");
  height: 22px;
  width: 20px;

  margin-left: 2px;
}
