@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap");
.centercontent-div {
  width: 100%;
  height: 120px;
  background-color: #efecf3;
  position: relative;
}
.centercontent-div-h1 {
  z-index: 2;
  position: relative;
  top: 200px;
  color: antiquewhite;
  font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  margin-top: -100px;
}
.centercontent-div-h3 {
  z-index: 2;
  position: relative;
  top: 195px;
  color: antiquewhite;
  font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.centercontent-div-h1-profileImg {
  content: url("./../../../Assets/profile.jfif");
  width: 120px;
  height: 120px;
  border-radius: 55px;
  padding: 2px;
  padding-top: 3px;

  z-index: 2;
  position: relative;
  top: 90px;

  color: antiquewhite;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.centercontent-div-img {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media only screen and (max-width: 600px) {
  .centercontent-div-h1 {
    padding: 10px;

    /* font-family: "Ubuntu", sans-serif; */
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
  }
  .centercontent-div-img {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
.centercontent-div-div {
  z-index: 2;
  position: relative;
  top: 295px;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}
.centercontent-div-div2 {
  z-index: 2;
  margin-top: 310px;
  display: flex;
  /* height: 350px; */
  background-color: rgb(218, 216, 233);
  /* justify-content: center; */
}
.centercontent-div-div22 {
  z-index: 2;
  /* margin-top: 310px; */
  display: flex;
  /* height: 350px; */
  padding-bottom: 20px;
  background-color: rgb(218, 216, 233);
  /* justify-content: center; */
}
.container-style {
}
.speech-icon {
  content: url("./../../../Assets/icons8-volume-64.png");
  height: 25px;
  width: 25px;
}
.col-style {
  margin-right: 5px;
  margin-top: 20px !important;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 10px grey;
  transition: transform 350ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.centercontent-div-div2-p {
  text-align: justify;
  padding: 5px;
}
.skill-list {
  text-align: left;
  padding-left: 30px;
}
.centercontent-div-div-button {
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 3px;
  text-decoration: none;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-shadow: none;
  margin-left: 5px;
  margin-top: -2px;
  color: #efecf3;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 600;
  transition: transform 350ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.centercontent-div-div2-h1 {
  padding: 10px;
  padding-left: 5px;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  text-align: left;
}
.col-style:hover {
  border-radius: 0.12em;
  transform: translateY(-8px);
}
.ul-list {
  padding-left: 5px;
}
.centercontent-div-div2-h11 {
  padding: 10px;
  padding-left: 5px;
  align-items: flex-start;
  font-family: "Ubuntu", sans-serif;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  text-align: left;
}
.centercontent-div-div-button:hover {
  background-color: bisque;
  font-weight: 600;
  text-decoration: none;
  padding: 3px;
  padding-left: 5px;

  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  transform: translateY(-5px);
  margin-left: 5px;
  margin-top: -2px;
  color: #eb700c;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
@media only screen and (max-width: 600px) {
  .centercontent-div-h1-profileImg {
    content: url("./../../../Assets/profile.jfif");
    width: 120px;
    height: 120px;
    border-radius: 55px;
    padding: 2px;
    padding-top: 3px;

    z-index: 2;
    position: relative;
    top: 5;

    margin-left: 30%;
    margin-right: 25%;
    color: antiquewhite;
    /* font-family: "Ubuntu", sans-serif; */
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
  }
  .centercontent-div-div-button {
    background-color: #007fb1;
    background-repeat: no-repeat;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: -2px;
    color: #f8f4f4;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 500;
    transition: transform 250ms;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .container-style {
    margin-top: 10%;
  }
}
